@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
:root {
  --theme-blue: rgb(0, 162, 236);
  --theme-orange: rgb(236, 134, 0);
}
/*
Scrollbar-styles
*/
html {
  scroll-behavior: smooth;
  scrollbar-color: white black;
  scrollbar-width: thin;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-orange);
}
::-webkit-scrollbar-track {
  background-color: black;
}
section {
  scroll-margin-top: 2em;
  padding: 3em 3.25em;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Crimson Text', serif;
  line-height: 1.1em;
}
/*
Global-styles
*/
::selection {
  color: white;
  background: var(--theme-blue);
}

::-moz-selection {
  color: white;
  background: var(--theme-blue);
}
h2 {
  font-size: 3em;
  margin: 0;
  padding-bottom: 0.5em;
  font-variant: small-caps;
}
p {
  font-size: 1.25em;
  color: #858585;
}
a {
  color: var(--theme-blue);
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background: var(--theme-orange);
}
.btn-primary {
  font-size: 1.5em;
  border-radius: 2px;
  background: var(--theme-blue);
}
.form-control {
  border-radius: 0px;
}

.container {
  margin-inline: 5%;
  padding-inline: auto;
}

/* Navbar
----------------------------------------------*/

.navbar {
  display: flex;
  position: fixed;
  top: 0px;
  width: 99vw;
  z-index: 50;
  border-radius: 0;
  padding: 0 5% 0 5%;
}
.navbar > #home {
  background: rgba(172, 5, 5, 0.6);
}
.navbar-toggle {
  border: none;
  border-color: var(--theme-blue);
  background-color: var(--theme-blue);
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background: var(--theme-blue);
}

.social {
  margin: 10px 0 5px 0;
}
.social a:hover {
  color: var(--theme-blue);
}
.social a {
  font-size: 1.75em;
  margin: 0 8px;
}
.fa-github,
.fa-linkedin {
  color: white;
}
.fa-github:hover,
.fa-linkedin:hover {
  color: var(--theme-blue);
}
#mainnav-container {
  margin: auto auto 1px auto;
}
#mainNav {
  display: flex;
  justify-content: flex-start;
  font-size: 1.15em;
  gap: 1em;
  list-style: none;
}
#mainNav li a {
  color: white;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#mainNav li a:hover,
#mainNav li a:focus {
  color: var(--theme-blue);
}

#mainNav li a.active {
  color: var(--theme-blue);
}

.page-section {
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.page-section h1 {
  font-size: 3.5em;
  margin: 90px 0 30px;
  line-height: 1.2em;
}
.page-section h1 span {
  font-weight: 200;
}
.page-section h2 {
  color: var(--theme-blue);
}

/*--- Banner ----*/
.banner-container {
  padding: 5em 10% 0.5em;
  background: rgb(30, 30, 30);
}

/*Intro Content*/
.introText {
  text-align: left;
  padding: 1em 2.5em 2em;
  background: black;
}
.heroText {
  padding-left: 1em;
}

.heroText h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
  letter-spacing: 10px;
  padding-bottom: 16px;
  margin: 0;
}
.heroText h2 {
  font-size: 3.3em;
  letter-spacing: 0.19em;
  font-weight: bold;
  font-variant: all-petite-caps;
  color: white;
  padding: 0;
  margin: 0 0 0.85em 0;
}
.duane-sunglasses-container {
  max-width: 15vw;
  padding: 2% 15% 2% 2%;
}
.caption {
  font-size: 1.1em;
  border-bottom: 1px solid #7a7a7a;
  border-top: 1px solid #7a7a7a;
  color: #aeaeae;
  padding: 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.185em;
  margin: 2em 0;
}
.blurb {
  font-size: 1.15em;
  letter-spacing: 0.1em;
  text-align: right;
  color: chocolate;
  max-width: 65%;
  padding: 0 0.5em 0 1em;
  margin: 2em 0 0 auto;
  line-height: 1.35em;
  font-weight: 500;
}
#home {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: black;
  padding: 0;
}
#about {
  position: relative;
  scroll-margin-top: 4em;
  background-color: black;
}
.about-part2 {
  display: flex;
  background-color: white;
}
.about-part2 .container {
  display: flex;
}
#about > div {
  padding: 2em;
}
#about h2,
#about h3 {
  font-weight: 500;
}
#about h3 {
  font-size: 1.5em;
  margin: 20px 0 10px 0.25em;
}
.tileBox p {
  background-color: #f0f0f0;
  font-size: 1.25em;
  color: black;
  padding: 2em;
  margin: 0;
}

/*Education */
#education {
  color: ghostwhite;
  background-color: black;
}
#education > div > h3 > strong {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
#education > div > h3 > strong > span {
  margin-right: 2em;
}
#education h4 {
  line-height: 1.75;
  letter-spacing: 0.05em;
  padding-right: 0.5em;
}

/*Experience */
.experience-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 12.5%;
  justify-content: center;
}

.experience-lists ul h4 {
  font-size: 1.45em;
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
.experience-lists ul li {
  list-style: square;
  text-transform: uppercase;
  font-size: 1em;
  margin-inline: 1.5em;
}
::marker {
  color: var(--theme-blue);
}
li:hover::marker {
  color: var(--theme-orange);
}
.frameworks {
  max-width: 13ch;
}
.experienceBlurb {
  text-align: center;
  max-width: 75%;
  margin: 1.15em auto 0 auto;
}
.frameworks-list,
.technologies {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 2.25em;
  max-height: 9em;
}
.frameworks-list {
  max-height: 6em;
}

/* Portfolio */
.portfolio-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--theme-orange);
  font-size: 1.4em;
  letter-spacing: 2px;
}
.portfolio-blurb {
  font-size: 1.25em;
  color: white;
}
#portfolio {
  background: black;
}
#portfolio h2 {
  font-size: 3em;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-bottom: 0.25em;
  color: var(--theme-blue);
}
#portfolio img {
  width: 100%;
}
#portfolio article p {
  margin-bottom: 1.45em;
}
nav#filter {
  margin: 2em 0 3em 0;
}
nav#filter li {
  display: inline-block;
  margin: 0 0 0 5px;
}
nav#filter a {
  font-size: 1.35em;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
}
.current,
nav#filter a:focus {
  color: white;
}
nav#filter a:hover {
  color: var(--theme-orange);
}
.portfolio-items article img {
  width: 100%;
}
.portfolio-item {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio-item img {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  border-radius: 3px;
}
.portfolio-item .portfolio-desc {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: rgba(220, 220, 220);
}

.portfolio-item:hover .portfolio-desc {
  height: 100%;
  transition: all 200ms ease-in-out 0s;
  opacity: 1;
  background: rgba(61, 61, 61, 0.82);
  border-radius: 3px;
}
.portfolio-item .portfolio-desc a {
  color: white;
  text-align: center;
  display: block;
}
.portfolio-item .portfolio-desc a:hover {
  text-decoration: none;
}
.btn-dark {
  background: #444;
  color: white;
}
.btn-dark:hover {
  background: #000;
  color: white;
}
.back-to-top {
  display: inline-block;
  clear: both;
  background: white;
  color: #333;
  padding: 0 10px 5px;
  margin: 20px 0 0;
  text-shadow: none;
}
.back-to-top:hover {
  background: #333;
  color: white;
  text-decoration: none;
}

/* Contact Form */
#contact {
  background-color: white;
}
.contact-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 5px solid var(--theme-orange);
  border-radius: 2px;
  padding: 3.5em 0;
}
.contactForm input,
.contactForm textarea {
  color: black;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  margin: 0.25em;
  padding: 0.2em;
}
.contactForm button {
  font-size: 1.75em;
  font-weight: bold;
  padding: 0.18em 1.25em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 4px;
}
.formSuccess {
  background-color: rgba(23, 240, 23, 0.534);
  color: rgb(201, 236, 201);
  border-radius: 0.2;
}
.formError {
  background-color: rgba(240, 24, 23, 0.534);
  color: rgb(236, 201, 201);
}
.contactHeader {
  color: var(--theme-blue);
  font-weight: normal;
  font-variant: small-caps;
}
.contactBlurb {
  color: white;
  font-weight: bolder;
  line-height: 1.35em;
  letter-spacing: 0.05em;
}

/* Footer */
.copyright {
  color: ghostwhite;
  background: #000;
  font-size: 1.1em;
  line-height: 2em;
  text-transform: capitalize;
  text-align: center;
  padding: 2.25em 0 2em 0;
}

/* Responsive Styling, if hover is available*/
@media (hover) {
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}
/* Responsive Styling < 950px Wide (Tablet/ large phone)*/
@media (max-width: 950px) {
  :root {
    font-size: 14px;
  }
  .caption {
    border: none;
  }
}
/* Responsive Styling < 950px Wide (Tablet/ large phone)*/
@media (max-width: 750px) {
  :root {
    font-size: 12px;
  }

  .experience-lists {
    display: flex;
    place-items: center;
  }
  .experience-lists ul {
    padding-top: 2em;
  }
}

/* Responsive Styling < 550px Wide (Small phone) */
@media (max-width: 550px) {
  :root {
    font-size: 10px;
  }
  .container {
    padding: 0;
  }
  .heroText {
    padding: 2em;
  }
  p.blurb {
    padding: 0;
    max-width: fit-content;
  }
  .about-part2 {
    display: flex;
    flex-direction: row;
  }
  .banner-container {
    display: none;
  }
}
